
#grid {
	width: 960px;
	height: 960px;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -480px;
    margin-top: -300px;
}

#createGrid {
	position: absolute;
	left: 50%;
	width: 100px;
	height: 20px;
	border-radius: 4px;
	text-align: center;
	display: block;
	color: white;
	background-color: #0099ff;
	padding: 14px 16px;
	margin-top: 50px;
	margin-left: -50px;
}

.gridCol {
	display: inline-block;	
}

.gridSquare {
	background-color: #b3e0ff;
	border: 1px solid black;
	width: 25px;
	height: 25px;
}

.hovered {
	background-color: #002e4d;
}